<div id="big-bg" class="pages-hero-wrapper">
  <div class="container">
    <h1 class="text-center">ようこそ飾らない「イートスタイル」へ</h1>
    <p class="text-center">もう1度「食べる」について考えるために新しいプラットフォームを提案します</p>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= link_to "飾らないイートスタイルとは",pages_introduction_path,class:"btn btn-block btn-white" %>
      </div>
      <div class="col-md-offset-4 col-md-4">
        <%= link_to "イートスタイルマガジン",pages_presentation_path,class:"btn btn-block btn-white" %>
      </div>
      <div class="col-md-offset-4 col-md-4 %">
        <%= link_to"飾らないイートスタイルに参加したい方へ",new_user_path,class:"btn btn-block btn-white" %>
      </div>
    </div>
  </div>
</div>